/* Общие стили */
header,
header * {
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

header {
  position: fixed;
  height: 53px;
  background: #614d49;
  width: 100%;
  z-index: 1000;
  top: 0;
}

header * {
  position: relative;
}

.wrapper-of-header {
  width: clamp(375px, 100%, 1628px);
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 36px;
}

.logo-section {
  min-width: 130px;
  max-width: 317px;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
}

.wrapper-of-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 97%;
  width: 100vw;
  height: 100%;
  background-color: white;
}

/* Стили для navigation */
.navigation {
  display: flex;
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit;
  color: #ffffff;
  clip-path: polygon(15px 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
  margin-left: -16px;
  transition: background-color 0.3s ease;
  width: clamp(175px, 100%, 190px);
  padding: 0 0 0 48px;
}

.nav-item:hover {
  background-color: #e8e1e0;
  color: #7c6e6b;
}

.header-left-side-content {
  width: 839px;
}

/* Стили для header-right-side-content */
.header-right-side-content {
  display: flex;
  align-items: center;
  width: 398px;
  justify-content: space-between;
}

/* Кнопка "Оставить заявку" */
.request-button-header {
  background-color: #311311;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 201px;
  height: 43px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.request-button-header:hover {
  background-color: #4a1f1f;
}

/* Элемент "Контакты" */
.contacts-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.contacts-link:hover {
  color: #e8e1e0;
}

/* Иконка поиска */
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #e8e1e0;
}

.search-icon svg {
  width: 24px;
  height: 24px;
}

/* Выбор языка */
.language-select {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease;
}

.language-select:hover {
  color: #e8e1e0;
}

.language-select option {
  background-color: #614d49;
  color: #ffffff;
}

/* Стили для dropdown-меню */
.dropdown-menu {
  position: absolute;
  height: 53px;
  top: 100%;
  left: -31px;
  width: 100vw;
  background-color: #e8e1e0;
  z-index: 1000;
  padding: 0;
  margin: 0;
  clip-path: polygon(15px 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #503d3a;
  margin-left: -16px;
  transition: background-color 0.3s ease;
  width: clamp(175px, 100%, 210px);
  padding: 22px 0 22px 52px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px 20px;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
  min-width: 126px;
}

.dropdown-menu li:hover {
  color: #7c6e6b;
}

.dropdown-menu li a:hover {
  background-color: #b21f24;
  color: #ffffff;
}

/* Стили для меню-бургера */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

/* Адаптация для мобильных устройств */
@media screen and (max-width: 1664px) {
  .wrapper-of-header {
    padding: 0 36px;
  }
  .wrapper-of-header::before {
    right: 91%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper-of-header {
    padding: 0 30px;
  }
  .nav-item {
    width: clamp(100px, 100%, 150px);
  }
  .dropdown-menu li {
    width: clamp(100px, 100%, 150px);
  }
  .header-right-side-content {
    width: 100%;
    max-width: 430px;
  }
}
@media (max-width: 850px) {
  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    background-color: #614d49;
    z-index: 999;
  }
  .header-left-side-content {
    width: 130px;
  }
  .header-right-side-content {
    width: 100%;
  }

  .navigation.mobile-menu-open {
    display: flex;
    width: 100vw;
  }

  .nav-item {
    width: 100%;
    padding: 10px 20px;
    margin-left: 0;
    clip-path: none;
  }

  .dropdown-menu {
    display: none; /* Скрываем dropdown-menu в мобильной версии */
  }

  .burger-menu {
    display: flex;
  }

  .contacts-link,
  .language-select {
    display: none; /* Скрываем элементы справа в мобильной версии */
  }
}
@media screen and (max-width: 530px) {
  .wrapper-of-header {
    padding: 0 12px;
  }
  .request-button-header {
    width: 106px;
    height: 38px;
    font-size: 12px;
    padding: 0;
  }
  .header-right-side-content {
    margin-left: 12px;
  }
}
